// Colors. Color names from: http://chir.ag/projects/name-that-color
$black: #000;
$blue: #214fb7;
$gray-dark: #666;
$gray-light: #efefef;
$gray-medium: #ddd;
$green: #68c524;
$orange: #ffb116;
$red: #d00b0b;
$white: #fff;

// Theme colors.
$primary-color: $blue;
$secondary-color: $orange;
$theme-error: $red;

// Fonts.
$font-face: 'Open Sans', sans-serif;
$font-face-cursive: 'Caveat', cursive;
$base-line-height: 1.5;

// Breakpoints and sizing.
$screen-tiny-max: 320px;
$screen-xs-max: 767px;
$screen-md-min: 768px;
$screen-md-max: 1024px;
$screen-lg-min: 1230px;
$screen-lg-max: 1366px;
